In [1]:
import numpy as np 
import pandas as pd 
import parquet, json, csv, ast
from datasets import load_dataset, Dataset
# from .autonotebook import tqdm as notebook_tqdm

In [ ]:
# squad = load_dataset('csv', data_files='afterqdropdubs.csv', delimiter=",", split="train[:5000]")
# squad = Dataset.from_pandas(df, split="train[:388]")

In [ ]:
squad1 = load_dataset("squad")

In [ ]:
squad1

In [ ]:
squad = load_dataset("squad", split="train[:500]")
print(squad)
squad = squad.train_test_split(test_size=0.2)
print(squad["train"][0])

In [ ]:
# df = pd.read_csv('afterqdropdubs.csv')
# df['answers'] = df['answers'].apply(ast.literal_eval)
# df['answers'] = df['answers'].apply(lambda x: eval(x))
# squad = Dataset.from_pandas(df, split="train[:5000]")

# squad = load_dataset("parquet", data_files={'train': 'noblank.parquet'}, split="train[:5000]")
# squad = load_dataset('json', data_files='nodubs_t_q_a_4.json', split="train[:5000]")
# squad = load_dataset('csv', data_files='file.csv', delimiter=",", split="train[:5000]")
squad = load_dataset('json', data_files='nodubs_t_q_a_7.json', field='data', split="train[:5000]")
# squad = load_dataset("squad", split="train[:5000]")
# squad = load_dataset('json', data_files='nodubs_t_q_a_5.json', field='data', split="train[:5000]")
print(squad)
# exit()

squad = squad.train_test_split(test_size=0.2)
#print(squad)
print(squad["train"][0])
# print(squad["train"][0:10])
# exit()

In [ ]:
from datasets import load_dataset, concatenate_datasets

# Load data from JSON file into a new Dataset object
new_data = load_dataset('json', data_files='new17.json')

# Concatenate new data with existing train and test splits
squad['train'] = concatenate_datasets([squad['train'], new_data['train']])
squad['test'] = concatenate_datasets([squad['test'], new_data['test']])

In [ ]:
import json
import numpy as np

# Load data from JSON file
with open('new12.json', 'r') as f:
    data = json.load(f)

# Change data type of answer_start field to int32
for item in data:
    item['answers']['answer_start'] = np.array(item['answers']['answer_start'], dtype=np.int32)

with open('new12.json', 'w') as f:
    json.dump(data, f)

In [ ]:
import json
import numpy as np

# Load data from JSON file
with open('new12.json', 'r') as f:
    data = json.load(f)

# Change data type of answer_start field to int32
for item in data:
    item['answers']['answer_start'] = int(np.array(item['answers']['answer_start'], dtype=np.int32).item())

# Save modified data back to JSON file
with open('new12.json', 'w') as f:
    json.dump(data, f)

In [ ]:
# Load data from JSON file
with open('new12.json', 'r') as f:
    data = json.load(f)

# Modify structure of answers field
for item in data:
    item['answers'] = [{'text': text, 'answer_start': answer_start} for text, answer_start in zip(item['answers']['text'], item['answers']['answer_start'])]

with open('new13.json', 'w') as f:
    json.dump(data, f)

In [ ]:
from datasets import load_dataset, Features, Value, Sequence

# Define custom features
features = Features({
    'id': Value(dtype='string'),
    'title': Value(dtype='string'),
    'context': Value(dtype='string'),
    'question': Value(dtype='string'),
    'answers': Sequence({
        'answer_start': Value(dtype='int32'),
        'text': Value(dtype='string')
    })
})

# Load data into Dataset object with custom features
data = load_dataset('json', data_files='dataframe.json', features=features)

In [ ]:
import json

# Load data from JSON file
with open('new12.json', 'r') as f:
    data = json.load(f)

# Modify structure of data to match SQuAD format
for item in data:
    item['answers'] = [{'text': text, 'answer_start': int(answer_start)} for text, answer_start in zip(item['answers']['text'], item['answers']['answer_start'])]

# Save modified data to new JSON file
with open('new14.json', 'w') as f:
    json.dump(data, f)

In [ ]:
from datasets import load_dataset

# Load modified data into Dataset object
data = load_dataset('json', data_files='new14.json')

In [ ]:
from datasets import load_dataset, Features, Value, Sequence

# Define custom features
features = Features({
    'id': Value(dtype='string'),
    'title': Value(dtype='string'),
    'context': Value(dtype='string'),
    'question': Value(dtype='string'),
    'answers': Sequence({
        'answer_start': Value(dtype='int32'),
        'text': Value(dtype='string')
    })
})

# Load data into Dataset object with custom features
data = load_dataset('json', data_files='new14.json', features=features)

In [ ]:
import json

# Load data from JSON file
with open('new14.json', 'r') as f:
    data = json.load(f)

# Inspect structure of data
print(data[0])

In [ ]:
# Concatenate new data with existing train and test splits
squad['train'] = concatenate_datasets([squad['train'], data['train']])
squad['test'] = concatenate_datasets([squad['test'], data['test']])

In [ ]:
import json

# Load data from JSON file
with open('new12.json', 'r') as f:
    data = json.load(f)

# Modify structure of data to match SQuAD format
for item in data:
    item['answers'] = {'text': item['answers']['text'][0], 'answer_start': int(item['answers']['answer_start'][0])}

# Save modified data to new JSON file
with open('new15.json', 'w') as f:
    json.dump(data, f)

In [ ]:
import json
from datasets import load_dataset
import pyarrow as pa
import pandas as pd

# Load SQuAD dataset
squad = load_dataset("squad", split="train[:5000]")

# Convert the Dataset object to a dictionary
data = squad.to_dict()

# Create an Arrow table
table = pa.Table.from_pydict(data)

# Convert the Arrow table to a Pandas DataFrame
df = table.to_pandas()

# Display the resulting DataFrame
print(df)

In [ ]:
df

In [ ]:
df1 = pd.read_json("new16.json")
df1.head(5)

In [ ]:
# Concatenate the data frames along rows
result = pd.concat([df, df1], axis=0)
result

In [ ]:
result1 = pd.concat([df, df1], axis=0).reset_index(drop=True)
result1

In [ ]:
result1.to_csv('output21.csv', index=False)

In [ ]:
import pyarrow as pa
import pyarrow.feather as feather

table = pa.Table.from_pandas(result1)
feather.write_feather(table, 'output.feather')

In [ ]:
import pyarrow as pa
import pyarrow.feather as feather

table = pa.Table.from_pandas(result1)
feather.write_feather(table, 'output.arrow')

In [ ]:
# with open('filename.txt', 'r', encoding='utf-8') as f:
#     data = f.read()

In [ ]:
# import json

# with open('cleaned_data.json', 'r', encoding='utf-8') as f:
#     data = json.load(f)
#     for item in data:
#         item['answers']['text'] = item['answers']['text'][-1]
#         item['answers']['answer_start'] = item['answers']['answer_start'][-1]

In [ ]:
# data correcter of our data important
import json

# Load the JSON file
with open('cleaned_data.json', 'r') as f:
    data = json.load(f)

# Extract the values you need
output_data = []
for item in data:
    output_data.append({
        'id': item['id'],
        'title': item['title'],
        'context': item['context'],
        'question': item['question'],
        'answers': {
            'answer_start': item['answers']['answer_start'],
            'text': item['answers']['text']
        }
    })

# Export the extracted values to another JSON file
with open('new17.json', 'w') as f:
    json.dump(output_data, f)

In [61]:
import json
from datasets import load_dataset
import pyarrow as pa
import pandas as pd

# Load SQuAD dataset
squad = load_dataset("squad", split="train[:50]")

# Convert the Dataset object to a dictionary
data = squad.to_dict()

# Create an Arrow table
table = pa.Table.from_pydict(data)

# Convert the Arrow table to a Pandas DataFrame
df = table.to_pandas()

# Display the resulting DataFrame
df

Found cached dataset squad (C:/Users/NIC/.cache/huggingface/datasets/squad/plain_text/1.0.0/d6ec3ceb99ca480ce37cdd35555d6cb2511d223b9150cce08a837ef62ffea453)

,id,title,context,question,answers
0,5733be284776f41900661182,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",To whom did the Virgin Mary allegedly appear i...,"{'answer_start': [515], 'text': ['Saint Bernad..."
1,5733be284776f4190066117f,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What is in front of the Notre Dame Main Building?,"{'answer_start': [188], 'text': ['a copper sta..."
2,5733be284776f41900661180,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",The Basilica of the Sacred heart at Notre Dame...,"{'answer_start': [279], 'text': ['the Main Bui..."
3,5733be284776f41900661181,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What is the Grotto at Notre Dame?,"{'answer_start': [381], 'text': ['a Marian pla..."
4,5733be284776f4190066117e,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What sits on top of the Main Building at Notre...,"{'answer_start': [92], 'text': ['a golden stat..."
5,5733bf84d058e614000b61be,University_of_Notre_Dame,"As at most other universities, Notre Dame's st...",When did the Scholastic Magazine of Notre dame...,"{'answer_start': [248], 'text': ['September 18..."
6,5733bf84d058e614000b61bf,University_of_Notre_Dame,"As at most other universities, Notre Dame's st...",How often is Notre Dame's the Juggler published?,"{'answer_start': [441], 'text': ['twice']}"
7,5733bf84d058e614000b61c0,University_of_Notre_Dame,"As at most other universities, Notre Dame's st...",What is the daily student paper at Notre Dame ...,"{'answer_start': [598], 'text': ['The Observer']}"
8,5733bf84d058e614000b61bd,University_of_Notre_Dame,"As at most other universities, Notre Dame's st...",How many student news papers are found at Notr...,"{'answer_start': [126], 'text': ['three']}"
9,5733bf84d058e614000b61c1,University_of_Notre_Dame,"As at most other universities, Notre Dame's st...",In what year did the student paper Common Sens...,"{'answer_start': [908], 'text': ['1987']}"
10,5733bed24776f41900661188,University_of_Notre_Dame,The university is the major seat of the Congre...,Where is the headquarters of the Congregation ...,"{'answer_start': [119], 'text': ['Rome']}"
11,5733bed24776f41900661189,University_of_Notre_Dame,The university is the major seat of the Congre...,What is the primary seminary of the Congregati...,"{'answer_start': [145], 'text': ['Moreau Semin..."
12,5733bed24776f4190066118a,University_of_Notre_Dame,The university is the major seat of the Congre...,What is the oldest structure at Notre Dame?,"{'answer_start': [234], 'text': ['Old College']}"
13,5733bed24776f4190066118b,University_of_Notre_Dame,The university is the major seat of the Congre...,What individuals live at Fatima House at Notre...,"{'answer_start': [356], 'text': ['Retired prie..."
14,5733bed24776f4190066118c,University_of_Notre_Dame,The university is the major seat of the Congre...,Which prize did Frederick Buechner create?,"{'answer_start': [675], 'text': ['Buechner Pri..."
15,5733a6424776f41900660f51,University_of_Notre_Dame,The College of Engineering was established in ...,How many BS level degrees are offered in the C...,"{'answer_start': [487], 'text': ['eight']}"
16,5733a6424776f41900660f4e,University_of_Notre_Dame,The College of Engineering was established in ...,In what year was the College of Engineering at...,"{'answer_start': [46], 'text': ['1920']}"
17,5733a6424776f41900660f4f,University_of_Notre_Dame,The College of Engineering was established in ...,Before the creation of the College of Engineer...,"{'answer_start': [126], 'text': ['the College ..."
18,5733a6424776f41900660f50,University_of_Notre_Dame,The College of Engineering was established in ...,How many departments are within the Stinson-Re...,"{'answer_start': [271], 'text': ['five']}"
19,5733a6424776f41900660f52,University_of_Notre_Dame,The College of Engineering was established in ...,The College of Science began to offer civil en...,"{'answer_start': [155], 'text': ['the 1870s']}"
20,5733a70c4776f41900660f64,University_of_Notre_Dame,All of Notre Dame's undergraduate students are...,What entity provides help with the management ...,"{'answer_start': [496], 'text': ['Learning Res..."
21,5733a70c4776f41900660f62,University_of_Notre_Dame,All of Notre Dame's undergraduate students are...,How many colleges for undergraduates are at No...,"{'answer_start': [68], 'text': ['five']}"
22,5733a70c4776f41900660f63,University_of_Notre_Dame,All of Notre Dame's undergraduate students are...,What was created at Notre Dame in 1962 to assi...,"{'answer_start': [155], 'text': ['The First Ye..."
23,5733a70c4776f41900660f65,University_of_Notre_Dame,All of Notre Dame's undergraduate students are...,Which organization declared the First Year of ...,"{'answer_start': [647], 'text': ['U.S. News & ..."
24,5733a7bd4776f41900660f6b,University_of_Notre_Dame,"The university first offered graduate degrees,...",The granting of Doctorate degrees first occurr...,"{'answer_start': [358], 'text': ['1924']}"
25,5733a7bd4776f41900660f6c,University_of_Notre_Dame,"The university first offered graduate degrees,...",What type of degree is an M.Div.?,"{'answer_start': [624], 'text': ['Master of Di..."
26,5733a7bd4776f41900660f6e,University_of_Notre_Dame,"The university first offered graduate degrees,...",Which program at Notre Dame offers a Master of...,"{'answer_start': [1163], 'text': ['Alliance fo..."
27,5733a7bd4776f41900660f6a,University_of_Notre_Dame,"The university first offered graduate degrees,...",In what year was a Master of Arts course first...,"{'answer_start': [92], 'text': ['1854']}"
28,5733a7bd4776f41900660f6d,University_of_Notre_Dame,"The university first offered graduate degrees,...",Which department at Notre Dame is the only one...,"{'answer_start': [757], 'text': ['Department o..."
29,5733ac31d058e614000b5ff3,University_of_Notre_Dame,The Joan B. Kroc Institute for International P...,What institute at Notre Dame studies the reas...,"{'answer_start': [4], 'text': ['Joan B. Kroc I..."
30,5733ac31d058e614000b5ff6,University_of_Notre_Dame,The Joan B. Kroc Institute for International P...,What is the title of Notre Dame's Theodore Hes...,"{'answer_start': [466], 'text': ['President Em..."
31,5733ac31d058e614000b5ff4,University_of_Notre_Dame,The Joan B. Kroc Institute for International P...,In what year was the Joan B. Kroc Institute fo...,"{'answer_start': [303], 'text': ['1986']}"
32,5733ac31d058e614000b5ff5,University_of_Notre_Dame,The Joan B. Kroc Institute for International P...,To whom was John B. Kroc married?,"{'answer_start': [377], 'text': ['Ray Kroc']}"
33,5733ac31d058e614000b5ff7,University_of_Notre_Dame,The Joan B. Kroc Institute for International P...,What company did Ray Kroc own?,"{'answer_start': [360], 'text': ['McDonald's']}"
34,5733ad384776f41900660fec,University_of_Notre_Dame,The library system of the university is divide...,How many stories tall is the main library at N...,"{'answer_start': [136], 'text': ['14']}"
35,5733ad384776f41900660fed,University_of_Notre_Dame,The library system of the university is divide...,What is the name of the main library at Notre ...,"{'answer_start': [145], 'text': ['Theodore M. ..."
36,5733ad384776f41900660fee,University_of_Notre_Dame,The library system of the university is divide...,In what year was the Theodore M. Hesburgh Libr...,"{'answer_start': [188], 'text': ['1963']}"
37,5733ad384776f41900660fef,University_of_Notre_Dame,The library system of the university is divide...,Which artist created the mural on the Theodore...,"{'answer_start': [344], 'text': ['Millard Shee..."
38,5733ad384776f41900660ff0,University_of_Notre_Dame,The library system of the university is divide...,What is a common name to reference the mural c...,"{'answer_start': [394], 'text': ['Touchdown Je..."
39,5733ae924776f41900661014,University_of_Notre_Dame,Notre Dame is known for its competitive admiss...,How many incoming students did Notre Dame admi...,"{'answer_start': [109], 'text': ['3,577']}"
40,5733ae924776f41900661013,University_of_Notre_Dame,Notre Dame is known for its competitive admiss...,What percentage of students were admitted to N...,"{'answer_start': [138], 'text': ['19.7%']}"
41,5733ae924776f41900661015,University_of_Notre_Dame,Notre Dame is known for its competitive admiss...,Where does Notre Dame rank in terms of academi...,"{'answer_start': [213], 'text': ['the top 10 t..."
42,5733ae924776f41900661016,University_of_Notre_Dame,Notre Dame is known for its competitive admiss...,What percentage of students at Notre Dame part...,"{'answer_start': [488], 'text': ['39.1%']}"
43,5733ae924776f41900661017,University_of_Notre_Dame,Notre Dame is known for its competitive admiss...,How many miles does the average student at Not...,"{'answer_start': [618], 'text': ['more than 75..."
44,5733afd3d058e614000b6045,University_of_Notre_Dame,"In 2015-2016, Notre Dame ranked 18th overall a...",Where did U.S. News & World Report rank Notre ...,"{'answer_start': [32], 'text': ['18th overall']}"
45,5733afd3d058e614000b6047,University_of_Notre_Dame,"In 2015-2016, Notre Dame ranked 18th overall a...",Forbes.com placed Notre Dame at what position ...,"{'answer_start': [362], 'text': ['8th']}"
46,5733afd3d058e614000b6048,University_of_Notre_Dame,"In 2015-2016, Notre Dame ranked 18th overall a...",The undergrad school at the Mendoza College of...,"{'answer_start': [565], 'text': ['1st overall']}"
47,5733afd3d058e614000b6046,University_of_Notre_Dame,"In 2015-2016, Notre Dame ranked 18th overall a...",In 2014 what entity named Notre Dame 10th best...,"{'answer_start': [155], 'text': ['USA Today']}"
48,5733afd3d058e614000b6049,University_of_Notre_Dame,"In 2015-2016, Notre Dame ranked 18th overall a...",What percentage of Notre Dame students decide ...,"{'answer_start': [918], 'text': ['57.6%']}"
49,5733b0fb4776f41900661041,University_of_Notre_Dame,"Father Joseph Carrier, C.S.C. was Director of ...",What person was the Director of the Science Mu...,"{'answer_start': [0], 'text': ['Father Joseph ..."

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        50 non-null     object
 1   title     50 non-null     object
 2   context   50 non-null     object
 3   question  50 non-null     object
 4   answers   50 non-null     object
dtypes: object(5)
memory usage: 2.1+ KB

In [ ]:
import pandas as pd
df1 = pd.read_json("new17.json")
df1

In [ ]:
df1.to_csv('new17.csv', index = False)

In [ ]:
result1 = pd.concat([df, df1], axis=0).reset_index(drop=True)
result1

In [ ]:
df3=pd.read_excel('new18.xlsx', index_col=None)  
# df3

In [ ]:
df4 = df3.columns.str.match("Unnamed")
df4 = df3.loc[:,~df3.columns.str.match("Unnamed")]
# df4

In [ ]:
df5 = df4.drop_duplicates()
df5

In [ ]:
df5['context'].replace(r's+',' ', regex=True)

In [ ]:
df5

In [ ]:
df5.to_json(r'new19.json', orient='records', compression = 'infer', indent=4)

In [ ]:
df5.to_csv('new18.csv', index = False)

In [73]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496499 entries, 0 to 496498
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        496499 non-null  object
 1   title     496499 non-null  object
 2   context   496499 non-null  object
 3   question  496488 non-null  object
 4   answers   496488 non-null  object
dtypes: object(5)
memory usage: 18.9+ MB

In [ ]:
# Convert the 'id' column to a column of strings
df5['id'] = df5['id'].astype(str)

# Convert the 'id' column to a column of bytes
# df5['id'] = df5['id'].apply(lambda x: x.encode('utf-8'))

# Convert the 'title' column to a column of strings
df5['title'] = df5['title'].astype(str)

# Convert the 'title' column to a column of bytes
# df5['title'] = df5['title'].apply(lambda x: x.encode('utf-8'))

# Convert the 'context' column to a column of strings
df5['context'] = df5['context'].astype(str)

# Convert the 'context' column to a column of bytes
# df5['context'] = df5['context'].apply(lambda x: x.encode('utf-8'))

# Convert the dataframe to an Arrow table
table = pa.Table.from_pandas(df5)

In [ ]:
# Reset the index of the dataframe
df5 = df5.reset_index(drop=True)

# Write the dataframe to a Feather file
df5.to_feather('my_data.feather')

In [ ]:

# Write the Arrow table to a file
pa.parquet.write_table(table, 'data.parquet')

In [63]:
result1 = pd.concat([df, df5], axis=0).reset_index(drop=True)
result1

,id,title,context,question,answers
0,5733be284776f41900661182,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",To whom did the Virgin Mary allegedly appear i...,"{'answer_start': [515], 'text': ['Saint Bernad..."
1,5733be284776f4190066117f,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What is in front of the Notre Dame Main Building?,"{'answer_start': [188], 'text': ['a copper sta..."
2,5733be284776f41900661180,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",The Basilica of the Sacred heart at Notre Dame...,"{'answer_start': [279], 'text': ['the Main Bui..."
3,5733be284776f41900661181,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What is the Grotto at Notre Dame?,"{'answer_start': [381], 'text': ['a Marian pla..."
4,5733be284776f4190066117e,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What sits on top of the Main Building at Notre...,"{'answer_start': [92], 'text': ['a golden stat..."
...,...,...,...,...,...
496544,id_23_9_4,E-Commerce,Roberto Azevedo said that plurilaterals should...,What is the collective responsibility of all c...,"{'answer_start': [1127], 'text': ['The Multila..."
496545,id_23_9_5,E-Commerce,Roberto Azevedo said that plurilaterals should...,What is the duty of countries?,"{'answer_start': [1261], 'text': ['to successf..."
496546,id_23_9_6,E-Commerce,Roberto Azevedo said that plurilaterals should...,What is the approach of the New Delhi Minister...,"{'answer_start': [1715], 'text': ['to re-energ..."
496547,id_23_9_7,E-Commerce,Roberto Azevedo said that plurilaterals should...,How many members participated in the informal ...,"{'answer_start': [2081], 'text': ['more than 5..."
496548,id_23_9_8,E-Commerce,Roberto Azevedo said that plurilaterals should...,When it was emphasized that there is a need to...,"{'answer_start': [2162], 'text': ['March 2018 ..."

In [64]:
result1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496549 entries, 0 to 496548
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        496549 non-null  object
 1   title     496549 non-null  object
 2   context   496549 non-null  object
 3   question  496538 non-null  object
 4   answers   496538 non-null  object
dtypes: object(5)
memory usage: 18.9+ MB

In [67]:
# set the datatypes for the columns
df6 = result1.astype({'id': 'str', 'title': 'str', 'context': 'str', 'question': 'str'})

# export the dataframe to a JSON file
df6.to_json('dataframe.json', orient='records', compression = 'infer', indent=4)

In [15]:
# squad = load_dataset('json', data_files='dataframe.json', split="train[:5000]")

df = pd.read_json('new21.json', orient='records')
squad = Dataset.from_pandas(df, split="train[:18000]")

squad = squad.train_test_split(test_size=0.2)
print(squad)
print(squad["train"][0])
# print(squad["train"][0:10])

DatasetDict({
    train: Dataset({
        features: ['id', 'title', 'context', 'question', 'answers'],
        num_rows: 401270
    })
    test: Dataset({
        features: ['id', 'title', 'context', 'question', 'answers'],
        num_rows: 100318
    })
})
{'id': 'd4f7d9baef4940e096a7028eff8d74f2', 'title': 'main_2008', 'context': "Several agreements were signed in the presence of the Hon'ble Vice President and H.E. Vice Senior General Maung Aye, including the Agreement and two Protocols of the Kaladan Multi Modal Transit Transport project and Double Taxation Avoidance Agreement. Myanmar is a close and friendly neighbour, with whom India shares a border of more than 1,600 kms. Myanmar also serves as a gateway to South East Asia and ASEAN. External Affairs Minister had visited Myanmar in January 2007. The Foreign Minister of Myanmar H.E. U Nyan Win had visited India in January this year and Foreign Secretary visited Myanmar in February 2008.", 'question': "Who were the Hon'ble Vice President and H.E. Vice Senior General Maung Aye?", 'answers': {'answer_start': [55], 'text': ["Hon'ble Vice President and H.E. Vice Senior General Maung Aye"]}}

In [99]:
df14 = pd.read_json("new21.json")
df14

,id,title,context,question,answers
0,id_0_0_1,Good Governance & Enforcement,(1). eOffice:- eOffice is one of the key IT pr...,What is the aim of the eOffice?,"{'answer_start': [15], 'text': ['eOffice is on..."
1,id_0_0_3,Good Governance & Enforcement,(1). eOffice:- eOffice is one of the key IT pr...,Full form of IVFRT?,"{'answer_start': [1311], 'text': ['Immigration..."
2,id_0_1_1,Good Governance & Enforcement,(3). e-Visa:- e-Visa scheme facilitates intern...,What is the eVisa?,"{'answer_start': [14], 'text': ['e-Visa scheme..."
3,id_0_1_2,Good Governance & Enforcement,(3). e-Visa:- e-Visa scheme facilitates intern...,Full form of PRAYAS?,"{'answer_start': [560], 'text': ['Pursuing Exc..."
4,id_0_1_3,Good Governance & Enforcement,(3). e-Visa:- e-Visa scheme facilitates intern...,What is the PRAYAS?,"{'answer_start': [605], 'text': ['Pursuing Exc..."
...,...,...,...,...,...
501593,id_23_9_4,E-Commerce,Roberto Azevedo said that plurilaterals should...,What is the collective responsibility of all c...,"{'answer_start': [1127], 'text': ['The Multila..."
501594,id_23_9_5,E-Commerce,Roberto Azevedo said that plurilaterals should...,What is the duty of countries?,"{'answer_start': [1261], 'text': ['to successf..."
501595,id_23_9_6,E-Commerce,Roberto Azevedo said that plurilaterals should...,What is the approach of the New Delhi Minister...,"{'answer_start': [1715], 'text': ['to re-energ..."
501596,id_23_9_7,E-Commerce,Roberto Azevedo said that plurilaterals should...,How many members participated in the informal ...,"{'answer_start': [2081], 'text': ['more than 5..."
501597,id_23_9_8,E-Commerce,Roberto Azevedo said that plurilaterals should...,When it was emphasized that there is a need to...,"{'answer_start': [2162], 'text': ['March 2018 ..."

In [104]:
# Define the characters to remove
chars_to_remove = ['\n', '\r', '|', '/', '"','\n\r','\r\n','|','\/']

# Remove the characters from each column
# for col in df14.columns:
#     for char in chars_to_remove:
#         df14[col] = df14[col].str.replace(char, '')

# Remove the characters
for char in chars_to_remove:
    df14['question'] = df14['question'].str.replace(char, '')

# Display the resulting dataframe

C:\Users\NIC\AppData\Local\Temp\ipykernel_15408\586661906.py:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df14['question'] = df14['question'].str.replace(char, '')
C:\Users\NIC\AppData\Local\Temp\ipykernel_15408\586661906.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  df14['question'] = df14['question'].str.replace(char, '')

In [3]:
# import pandas as pd

df = pd.read_json('new21.json', orient='records')

def check_answer_start(row):
    answer_starts = row['answers']['answer_start']
    for answer_start in answer_starts:
        if not isinstance(answer_start, int):
            print(f'Invalid value for answer_start: {answer_start}')

df.apply(check_answer_start, axis=1)

Invalid value for answer_start:
Invalid value for answer_start:
Invalid value for answer_start:
Invalid value for answer_start:
Invalid value for answer_start:
Invalid value for answer_start:
Invalid value for answer_start:
Invalid value for answer_start:
Invalid value for answer_start:

0         None
1         None
2         None
3         None
4         None
          ...
501593    None
501594    None
501595    None
501596    None
501597    None
Length: 501598, dtype: object

In [13]:
import pandas as pd

df = pd.read_json('new21.json', orient='records')

def check_answer_start(row):
    answer_starts = row['answers']['answer_start']
    for answer_start in answer_starts:
        if not isinstance(answer_start, int):
            print(f'Invalid value for answer_start: {answer_start}')
            print(row)

df.apply(check_answer_start, axis=1)

0         None
1         None
2         None
3         None
4         None
          ...
501583    None
501584    None
501585    None
501586    None
501587    None
Length: 501588, dtype: object

In [96]:
# import json

# with open('new19.json', 'r') as f:
#     data = json.load(f)

# for item in data:
#     item['answers'] = item['answers'].replace('"', '')

# with open('new20.json', 'w') as f:
#     json.dump(data, f, indent=4)

In [79]:
import json

with open('new19.json', 'r') as f:
    data = json.load(f)

for item in data:
    if item['answers'] is not None:
        item['answers'] = item['answers'].replace('"', '')

with open('new20.json', 'w') as f:
    json.dump(data, f, indent=4)

In [81]:
import pandas as pd

df = pd.read_csv('new18.csv')

# Replace double quotes in specific columns
df['answers'] = df['answers'].str.replace('"', '')
# df['column2'] = df['column2'].str.replace('"', '')

# Save the modified data to a new CSV file
df.to_csv('new19.csv', index=False)

In [82]:
df2 = pd.read_csv('new19.csv')
df2

,id,title,context,question,answers
0,id_0_0_1,Good Governance & Enforcement,(1). eOffice:- eOffice is one of the key IT pr...,What is the aim of the eOffice?,"{'answer_start': [15], 'text': ['eOffice is on..."
1,id_0_0_3,Good Governance & Enforcement,(1). eOffice:- eOffice is one of the key IT pr...,Full form of IVFRT?,"{'answer_start': [1311], 'text': ['Immigration..."
2,id_0_1_1,Good Governance & Enforcement,(3). e-Visa:- e-Visa scheme facilitates intern...,What is the eVisa?,"{'answer_start': [14], 'text': ['e-Visa scheme..."
3,id_0_1_2,Good Governance & Enforcement,(3). e-Visa:- e-Visa scheme facilitates intern...,Full form of PRAYAS?,"{'answer_start': [560], 'text': ['Pursuing Exc..."
4,id_0_1_3,Good Governance & Enforcement,(3). e-Visa:- e-Visa scheme facilitates intern...,What is the PRAYAS?,"{'answer_start': [605], 'text': ['Pursuing Exc..."
...,...,...,...,...,...
496494,id_23_9_4,E-Commerce,Roberto Azevedo said that plurilaterals should...,What is the collective responsibility of all c...,"{'answer_start': [1127], 'text': ['The Multila..."
496495,id_23_9_5,E-Commerce,Roberto Azevedo said that plurilaterals should...,What is the duty of countries?,"{'answer_start': [1261], 'text': ['to successf..."
496496,id_23_9_6,E-Commerce,Roberto Azevedo said that plurilaterals should...,What is the approach of the New Delhi Minister...,"{'answer_start': [1715], 'text': ['to re-energ..."
496497,id_23_9_7,E-Commerce,Roberto Azevedo said that plurilaterals should...,How many members participated in the informal ...,"{'answer_start': [2081], 'text': ['more than 5..."
496498,id_23_9_8,E-Commerce,Roberto Azevedo said that plurilaterals should...,When it was emphasized that there is a need to...,"{'answer_start': [2162], 'text': ['March 2018 ..."

In [83]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496499 entries, 0 to 496498
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        496499 non-null  object
 1   title     496499 non-null  object
 2   context   496499 non-null  object
 3   question  496488 non-null  object
 4   answers   496488 non-null  object
dtypes: object(5)
memory usage: 18.9+ MB

In [84]:
df2.to_json(r'new20.json', orient='records', compression = 'infer', indent=4)

In [94]:
import json

with open('nodubs_t_q_a_4.json', 'r') as f:
    data = json.load(f)

output = []
for item in data:
    output.append({
        "id": item["id"],
        "title": item["title"],
        "context": item["context"],
        "question": item["question"],
        "answers": {
            "answer_start": item["answers"]["answer_start"],
            "text": item["answers"]["text"]
        }
    })

with open('new21.json', 'w') as f:
    json.dump(output, f, indent=4)

In [ ]:
# import json
# import ast

# with open('new20.json', 'r') as f:
#     data = json.load(f)

# output = []
# for item in data:
#     answers = ast.literal_eval(item["answers"])
#     output.append({
#         "id": item["id"],
#         "title": item["title"],
#         "context": item["context"],
#         "question": item["question"],
#         "answers": {
#             "answer_start": answers["answer_start"],
#             "text": answers["text"]
#         }
#     })

# with open('new21.json', 'w') as f:
#     json.dump(output, f, indent=4)

In [95]:
# import json
# import ast

# with open('nodubs_t_q_a_4.json', 'r') as f:
#     data = json.load(f)

# output = []
# for item in data:
#     answers_str = item["answers"].replace('\n', '').replace('\r', '')
#     answers = ast.literal_eval(answers_str)
#     output.append({
#         "id": item["id"],
#         "title": item["title"],
#         "context": item["context"],
#         "question": item["question"],
#         "answers": {
#             "answer_start": answers["answer_start"],
#             "text": answers["text"]
#         }
#     })

# with open('new21.json', 'w') as f:
#     json.dump(output, f, indent=4)